@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center vert ">
    <h1 class="display-4">Welcome to <strong style="color: DodgerBlue;">Bridge</strong> All In One <em>CRM & ERP</em></h1>
    <h3>Do more with less</h3>
</div>
