@model Bridge.ERP.Models.Phone

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TenantId" class="control-label"></label>
                <input asp-for="TenantId" class="form-control" />
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyId" class="control-label"></label>
                <input asp-for="PropertyId" class="form-control" />
                <span asp-validation-for="PropertyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkipTraceSource" class="control-label"></label>
                <input asp-for="SkipTraceSource" class="form-control" />
                <span asp-validation-for="SkipTraceSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType" class="control-label"></label>
                <input asp-for="ContactType" class="form-control" />
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
